.home{
    background-color: blanchedalmond;
}

.home .cookies{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 700;
    margin-top: 80px;
    
    
    
    

}
.cookies img{
    width: 250px;
    height: 150px;
}
.home .cookies button{
    margin-top: 140px;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(245, 233, 237, 0.822);
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.cookies-link{
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: rgba(245, 233, 237, 0.822);
    font-weight: 700;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    color: black;
}
.home .cookies button:hover{
    background-color: rgb(92, 92, 90);
}
.cookies-link:hover{
    background-color: rgb(92, 92, 90);
}
button{
    text-align: center;
}
